.btn.btn-act {
  margin-left: 13px;
}

.bTnnmE.rdt_Table {
  overflow: visible;
}

.bDDyfd div:first-child {
  overflow: visible;
}
.select-width-staff {
  width: 200px;
}
.select-format {
  width: 120px;
}
.bBLgho div:first-child {
  overflow: visible !important;
}

@media only all and (max-width: 768px) {
  .iMLKlc div:first-child.group-btn-customer {
    overflow: visible;
  }
  .sc-dxgOiQ.kJdJTV.style-table-customer {
    overflow-x: scroll;
  }
  .select-width-staff {
    width: 150px;
  }
}
